
h1{

	font-size: 100px;
	color: white;
    text-shadow: 4px 4px 8px #000000;

}
body{
	background-color:gray;
}

a{
	text-decoration: none;
	color:black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}


.form-control{

	display:inline;
	width:25%;

}

fieldset{
	display:inline;

}

.container{
	padding-top:10px;
	background:#fff;
}

/*.tabs{
	text-align:center;

	list-style:none;

	margin: 0 10px;
	padding: 0 10px;
	border: 1px solid #AAA;
	background: #ECECEC;
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 24px;
	text-decoration: none;

*/
}

.left{
	text-align:left;
}
.right{
	text-align:right;
}

.tabs{

}

.tab-title{
	margin:20px 20px 20px 20px;
	font-size:35px;
}

.tabrow {
  text-align: center;
  list-style: none;
  margin: 10;
  padding: 10;

  line-height: 40px;
}
.tabrow li {
  margin: 0 15px;
  padding: 0 80px;
  border: 1px solid #AAA;
  background: #ECECEC;
  display: inline-block;
}

div .group{
	display:inline-block;
}

div{

	font-size: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
